/* Estilo en general*/
:root{
    --main-color: #89EF78;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);

    --primary-color: #CC324B;
    --secundary-color: #A30127;
    --third-color: #721132;
    --four-color: #1B1925;
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: .8rem 10rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    background: var(--secundary-color);
    cursor: pointer;
    border-radius: 5rem;
}

.btn:hover{
    letter-spacing: .2rem;
}


.division-opaca {
    position: relative;
    height: 2rem; /* Ajusta la altura de la división según tus preferencias */
    background: linear-gradient(to right, transparent, #0F0F0F, transparent); /* Degradado transparente */
    z-index: 1; /* Asegura que la división esté por encima del contenido de la sección "Sesión Principal" */
}

section{
    padding: 2rem 7%;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/img1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    /*text-transform: uppercase;*/
    color: #fff;
}

.home .content p{
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.8;
    padding: 2rem 0 ;
    color: #eee;
}

.content .content li{
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 0.5rem 0 ;
    color: #eee;
    list-style: none;
}

.head{
    text-align: center;
    color: #fff;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.head span{
    color: var(--main-color);
    /*text-transform: uppercase;*/
}

.about{
    background: url(../img/pesas-ejercicio-mancuernas-hierro-placas-extra\ 1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image-us{
    flex: 1 1 35rem;
}

.about .row .image-us img{
    width: 70%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--secundary-color);
    font-weight: bold;
}

.about .row .content li{
    font-size: 1.6rem;
    color: #ccc;
    padding: 0.5rem 0;
    font-weight: bold;
}

/* Seccion feeding Suplementos */

.feeding {
    background: url(../img/buda-plato-plato-filete-pollo-arroz-col-lombarda-zanahoria-ensalada-lechuga-fresca-sesamo\ 1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.feeding .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.feeding .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.feeding .row .content h3 {
    font-size: 3rem;
    color: var(--secundary-color);
    transform: rotate(-90deg);
    transform-origin: left center;
    white-space: nowrap;
    margin-right: 1rem;
}

.feeding .row .content ul.sub-list {
    list-style-type: disc; /* Utiliza viñetas en lugar de viñetas por defecto */
}

.feeding .row .content ul.sub-list li {
    font-size: 1.6rem;
    color: var(--black);
    padding: 0.5rem 0; /* Ajusta el espaciado entre los elementos de la lista */
    line-height: 1.8;
    margin-left: 1.5rem; /* Espacio entre el título y los elementos de la lista */
}

.feeding .row .content .btn-feed{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #000000;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 12%;
}


