/* Estilo en general*/
:root{
    --main-color: #89EF78;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #000000;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 10%;
}

.btn:hover{
    letter-spacing: .2rem;
}


.header{
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 7%;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%); /* Centra el encabezado correctamente */
    z-index: 1000;
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho */
}

.header .logo img{
    height: 9rem;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 5rem; /* Espacio entre los elementos <a> y la imagen */
}

.header .nav a{
    margin:0 5rem;
    font-size: 1.6rem;
    color: var(--main-color);
}

.header .nav a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.nav a.active {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}


.division-opaca {
    position: relative;
    height: 2rem; /* Ajusta la altura de la división según tus preferencias */
    background: linear-gradient(to right, transparent, #0F0F0F, transparent); /* Degradado transparente */
    z-index: 1; /* Asegura que la división esté por encima del contenido de la sección "Sesión Principal" */
}

section{
    padding: 2rem 7%;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/img1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    /*text-transform: uppercase;*/
    color: #fff;
}

.home .content p{
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.8;
    padding: 2rem 0 ;
    color: #eee;
}

.home .content .btn-init{
        display: inline-block;
        padding: .9rem 6rem;
        font-size: 1.7rem;
        font-weight: bold;
        color: #000000;
        background: var(--main-color);
        cursor: pointer;
        border-radius: 15%;
}

.content .content li{
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 0.5rem 0 ;
    color: #eee;
    list-style: none;
}

.head{
    text-align: center;
    color: #fff;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.head span{
    color: var(--main-color);
    /*text-transform: uppercase;*/
}

.about{
    background: url(../img/pesas-ejercicio-mancuernas-hierro-placas-extra\ 1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image-us{
    flex: 1 1 35rem;
}

.about .row .image-us img{
    width: 70%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: bold;
}

.about .row .content li{
    font-size: 1.6rem;
    color: #ccc;
    padding: 0.5rem 0;
    font-weight: bold;
}

.about .row .content .btn-about{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #000000;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 12%;
}
/* Seccion feeding Suplementos */

.feeding {
    background: url(../img/buda-plato-plato-filete-pollo-arroz-col-lombarda-zanahoria-ensalada-lechuga-fresca-sesamo\ 1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.feeding .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.feeding .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.feeding .row .content h3 {
    font-size: 3rem;
    color: var(--main-color);
    transform: rotate(-90deg);
    transform-origin: left center;
    white-space: nowrap;
    margin-right: 1rem;
}

.feeding .row .content ul.sub-list {
    list-style-type: disc; /* Utiliza viñetas en lugar de viñetas por defecto */
}

.feeding .row .content ul.sub-list li {
    font-size: 1.6rem;
    color: var(--black);
    padding: 0.5rem 0; /* Ajusta el espaciado entre los elementos de la lista */
    line-height: 1.8;
    margin-left: 1.5rem; /* Espacio entre el título y los elementos de la lista */
}

.feeding .row .content .btn-feed{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #000000;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 12%;
}

/* Responsive */
.header .icon div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icon div:hover{
    color: var(--main-color);
}

#feeding-btn{
    display: none;
}

/* Contactanos */

.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

/* Footer */

.our-creator .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.our-creator .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.our-creator .box-container .box .our{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.our-creator .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.our-creator .box-container .box .shar a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.our-creator .box-container .box .shar a:hover{
    background-color: var(--main-color);
}

.footer{
    background: var(--black);
    text-align: center;
}

.footer .shar{
    padding: 1rem 0;
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
} 

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){
   
    #feeding-btn{
        display: inline-block;
    }

    .header .nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .nav.active{
        right: 0;
    }

    .header .nav a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }
}

/* Estilo Imagen SVG */
.body-click{
    text-align: center;
    margin-top: 100px;
}

.body-click h1{
    color: #fff;
    font-size: 3rem;
}

.body-click p{
    color: var(--main-color);
    font-size: 1rem;
}

.svg{
    width: 40%;
    margin: auto;
}

.svg path{
    fill:#EEEEEE;
    stroke:#000000;
    transition: fill 0.3s;
}

a :hover{
    fill: var(--main-color);
}
