/* Estilo en general*/
:root{
    --main-color: #89EF78;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);

    --primary-color: #CC324B;
    --secundary-color: #A30127;
    --third-color: #721132;
    --four-color: #1B1925;
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: .8rem 10rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    background: var(--secundary-color);
    cursor: pointer;
    border-radius: 5rem;
}

.btn:hover{
    letter-spacing: .2rem;
}


.division-opaca {
    position: relative;
    height: 2rem; /* Ajusta la altura de la división según tus preferencias */
    background: linear-gradient(to right, transparent, #0F0F0F, transparent); /* Degradado transparente */
    z-index: 1; /* Asegura que la división esté por encima del contenido de la sección "Sesión Principal" */
}

section{
    padding: 2rem 7%;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/img1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    /*text-transform: uppercase;*/
    color: #fff;
}

.home .content p{
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.8;
    padding: 2rem 0 ;
    color: #eee;
}

.content .content li{
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 0.5rem 0 ;
    color: #eee;
    list-style: none;
}

.head{
    text-align: center;
    color: #fff;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.head span{
    color: var(--main-color);
    /*text-transform: uppercase;*/
}

.about{
    background: url(../img/pesas-ejercicio-mancuernas-hierro-placas-extra\ 1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image-us{
    flex: 1 1 35rem;
}

.about .row .image-us img{
    width: 70%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: bold;
}

.about .row .content li{
    font-size: 1.6rem;
    color: #ccc;
    padding: 0.5rem 0;
    font-weight: bold;
}

/* Seccion feeding Suplementos */

.feeding {
    background: url(../img/buda-plato-plato-filete-pollo-arroz-col-lombarda-zanahoria-ensalada-lechuga-fresca-sesamo\ 1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.feeding .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.feeding .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.feeding .row .content h3 {
    font-size: 3rem;
    color: var(--main-color);
    transform: rotate(-90deg);
    transform-origin: left center;
    white-space: nowrap;
    margin-right: 1rem;
}

.feeding .row .content ul.sub-list {
    list-style-type: disc; /* Utiliza viñetas en lugar de viñetas por defecto */
}

.feeding .row .content ul.sub-list li {
    font-size: 1.6rem;
    color: var(--black);
    padding: 0.5rem 0; /* Ajusta el espaciado entre los elementos de la lista */
    line-height: 1.8;
    margin-left: 1.5rem; /* Espacio entre el título y los elementos de la lista */
}

.feeding .row .content .btn-feed{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #000000;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 12%;
}

/* Responsive */
.header .icon div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icon div:hover{
    color: var(--main-color);
}

#feeding-btn{
    display: none;
}


@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){
   
    #feeding-btn{
        display: inline-block;
    }

    .header .nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .nav.active{
        right: 0;
    }

    .header .nav a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }
}

/* Codigo CSS - Entrenamiento.php */
/* Estilo Imagen SVG */
.body-click{
    text-align: center;
    margin-top: 100px;
}

.body-click h1{
    color: #fff;
    font-size: 3rem;
}

.body-click p{
    color: var(--main-color);
    font-size: 1rem;
}

.svg{
    width: 40%;
    margin: auto;
}

.svg path{
    fill:#EEEEEE;
    stroke:#000000;
    transition: fill 0.3s;
}

a :hover{
    fill: var(--main-color);
}

/* Sesion Ejercicios */

.exercises{
    display: none;
    color: #EEEEEE;
}


/* Codigo CSS - Informacion.php */
/* Sesion Principal */
.home-info{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/Bg-Informacion.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-info .content-info{
    max-width: 60rem;
}

.home-info .content-info h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
}

.home-info .content-info p{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #eee;
}
/* Fin Sesion Principal */

/* Seccion De Informacion Sobre El Tipo De Cuerpo */
.typebody{
    text-align: center;
    margin-top: 20px;
}

.typebody h1{
    color: var(--primary-color);
    font-size: 3rem;
}

.typebody p{
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
}

.container-morfo{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin-top: 20px;
}

.card-morfo{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card-morfo:hover{
    box-shadow: 5px 5px 20px rgba(163, 1, 39, 1);
    transform: translateY(-3%);
}

.card-morfo img{
    width: 100%;
    height: 500px;
    
}

.card-morfo .cont-morfo{
    padding: 15px;
    text-align: center;
}

.card-morfo .cont-morfo p{
    font-weight: bold;
    font-size: 12px;
    line-height: 2;
    color: var(--four-color);
}

.card-morfo .cont-morfo h1{
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--four-color);
}

.card-morfo .cont-morfo a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: var(--four-color);
    border: 1px solid var(--secundary-color);
    border-radius: 4px;
    transition: all 400ms ease;
}

.card-morfo .cont-morfo a:hover{
    background: var(--secundary-color);
    color: white;
}

/* Finalizamos Seccion De Tipo De Cuerpos */