/* Codigo CSS - Informacion.php */
/* Sesion Principal */
.home-info{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/Bg-Informacion.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-info .content-info{
    max-width: 60rem;
}

.home-info .content-info h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
}

.home-info .content-info p{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #eee;
}
/* Fin Sesion Principal */
/* Seccion De Informacion Sobre El Tipo De Cuerpo */
.typebody{
    text-align: center;
    margin-top: 20px;
}

.typebody h1{
    color: var(--primary-color);
    font-size: 3rem;
}

.typebody p{
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
}

.container-morfo{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin-top: 20px;
}

.card-morfo{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card-morfo:hover{
    box-shadow: 5px 5px 20px rgba(163, 1, 39, 1);
    transform: translateY(-3%);
}

.card-morfo img{
    width: 100%;
    height: 500px;
    
}

.card-morfo .cont-morfo{
    padding: 15px;
    text-align: center;
}

.card-morfo .cont-morfo p{
    font-weight: bold;
    font-size: 12px;
    line-height: 2;
    color: var(--four-color);
}

.card-morfo .cont-morfo h1{
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--four-color);
}

.card-morfo .cont-morfo a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: var(--four-color);
    border: 1px solid var(--secundary-color);
    border-radius: 4px;
    transition: all 400ms ease;
}

.card-morfo .cont-morfo a:hover{
    background: var(--secundary-color);
    color: white;
}

/* Finalizamos Seccion De Tipo De Cuerpos */