:root{
    --main-color: #89EF78;
    --black: #13131a;
    --bg: #FFFFFF;
    --border: .1rem solid rgba(255,255,255,.3);
    --primary-color: #CC324B;
			--secundary-color: #A30127;
			--third-color: #721132;
			--four-color: #1B1925;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 12rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

.division-opaca {
    position: relative;
    height: 2rem; /* Ajusta la altura de la división según tus preferencias */
    background: linear-gradient(to right, transparent, #0F0F0F, transparent); /* Degradado transparente */
    z-index: 1; /* Asegura que la división esté por encima del contenido de la sección "Sesión Principal" */
}

body{
    background: var(--bg);
}

.login-register{
    background-image: url(../../img/BackgroundLogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 110px;
    margin: auto;
}

.container{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.box-back{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}

.box-back div{
    margin: 100px 40px;
    color: var(--black);
    transition: all 500ms;
}

.box-back div p,
.box-back div button{
    margin-top: 30px;
}

.box-back div h3{
    font-weight: bold;
    font-size: 26px;
}

.box-back button{
    padding: 10px 40px;
    border: 2px solid #89EF78;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.box-back button:hover{
    background: #89EF78;
    color: black;
}

/* Formularios */

.container-login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.container-login-register form{
    width: 100%;
    padding: 80px 20px;
    background: #ffffff;
    position: absolute;
    border-radius: 20px;
}

.container-login-register .form-login{
    padding: 120px 20px;
}

.container-login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #89EF78;
}

.container-login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.container-login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #89EF78;
    color: black;
    cursor: pointer;
    outline: none;
}

.form-login{
    opacity: 1;
    display: block;
}

.form-register{
    display: none;
}


/* Estilo Imagen SVG */
.application{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0 15%;
}

.app-text h1 {
    font-family: sans-serif;
    font-size: 90px;
    line-height: 1;
    color: #CC324B;
    margin: 0 0 45px;
    -webkit-text-stroke: 2px black; /* Añadir un borde negro de 2px al texto */
}

.app-text span {
    font-family: sans-serif;
    font-size: 90px;
    line-height: 1;
}

.app-text span:first-child {
    background: linear-gradient(180deg, #FFFFFF 30%, #CC324B 30%);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px black; /* Añadir un borde negro de 2px al texto */
}


.app-text h4{
    font-size: 18px;
    font-weight: bold;
    color: #13131a;
    margin-bottom: 10px;
}

.app-text p{
    color: #13131a;
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 40px;
    font-weight: lighter;
}

.app img{
    width: 700px;
    height: auto;
}

.app-text a{
    display: inline-block;
    color: white;
    background: var(--secundary-color);
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
    cursor: pointer;
}

.app-text a:hover{
    background: var(--four-color);
    border: 1px solid white;
    transform: translateX(8px);
}